.hero {
  position: relative;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* width: 100%; */
  background-color: var(--bg-color);
  /* overflow: hidden; */
  /* transition: height 0.5s ease-out; */
}

.hero-header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-content {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  color: var(--text-color);
  position: relative;
  justify-content: center;

  .Introduction__paragraph {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0rem;
    position: inherit;
    animation-delay: 1s;
  }
}

.hero-link {
  position: relative;
  display: flex;
  height: 5rem;
  width: 5rem;
  border-radius: 100%;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-decoration: none;

  &:hover {
    box-shadow: 0px -6px 20px 0px var(--primary-color) inset;
    transform: translateY(5px) scale(0.95);

    &::after {
      display: flex;
      justify-content: right;
      content: "<-";
      position: absolute;
      width: 1.3rem;
      background-color: transparent;
      right: -2rem;
      top: 1.75rem;
      color: var(--text-color);
      font-size: 1.5rem;
      font-weight: bold;

      animation: oscillate 0.5s ease infinite alternate;
    }
  }

  @media screen and (max-width: 900px) {
    &:hover {
      box-shadow: 0px -6px 20px 0px var(--primary-color) inset;
      transform: translateY(5px) scale(0.95);

      &::after {
        display: none;
      }
    }
  }
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;
  align-items: center;
}

.hero-button {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 100%;
  background-color: rgba(var(--primary-color-rgb), 0.25);
  backdrop-filter: blur(10px);
  box-shadow: 0px -3px 12px 0px var(--primary-color) inset;
  color: var(--text-color);
  font-size: 0.75rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.p5Canvas {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
}

.hero-info {
  display: flex;
}

@keyframes bg-size {
  0% {
    background-size: 100% 0%;
  }
  100% {
    background-size: 100% 100%;
  }
}

@keyframes oscillate {
  0% {
    opacity: 0.5;
    transform: translateX(-0.1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
