main {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  min-height: 100vh;
}

.main__section {
  padding: 1rem;
  max-width: 100%;
  .main__article {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 1rem;
    align-items: center;
    max-width: 100%;
  }
}

.full {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  main {
    display: flex;
  }
}
