main {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  min-height: 100vh;
}

.Main__section {
  padding: 1rem;
  margin: 0 auto;
  max-width: 100%
}

@media screen and (max-width: 768px) {
  main {
    display: flex;
  }
}
