.card {
  border: 2px solid var(--primary-color);
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg-color-darkened);
  border-radius: 0.5rem;
  /* box-shadow: -0.15rem 0.15rem 0.2rem rgba(0, 0, 0, 0.75); */
  overflow: hidden;
  position: relative;
  transition: 0.3s ease-in-out;
  &:hover {
    box-shadow: -0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.75);
    transform: translate(0.15rem, -0.15rem);
  }
  
  .card__header {
    text-align: center;
    margin: 0rem;
    width: 100%;
    font-size: 2rem;
    padding: 1rem;
    position: relative;
  }
  
  .card__body {
    display: flex;
    font-size: 1.4rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    margin: 0rem;
    width: 100%;
    position: relative;
  }

  .card__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    margin: 0rem;
    width: 100%;
    font-size: 1.2rem;
  }
}

@keyframes flip-3D {
  0% {
    transform: rotateY(-90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
