.splash {
  position: relative;
  top: -10%;
  background-color: rgba(var(--bg-color-rgb), 0.5);
  border-radius: 1rem;
  padding: 1rem;
  backdrop-filter: blur(10px);
  max-height: 100%;
  border: 2px solid rgba(var(--primary-color-rgb), 1);
  font-size: 2rem;
  color: var(--text-color);
  /* account for mobile font size */
  @media screen and (max-width: 768px) {
    padding: 0.5rem;
  }
}

.splash__title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.splash__description {
  display: flex;
  justify-content: center;
  align-items: center;
}
