.navbar {
  position: sticky;
  top: 0px;
  z-index: 9999;
  background-color: rgba(var(--nav-color-rgb), 0.5);
  transition: height 0.5s ease-in-out;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  width: 100%;
  overflow: hidden;
  flex-wrap: wrap;
  padding: 1rem 0.5rem;
  height: 5.5rem;
  &.expanded {
    height: 18rem;
  }
}

.navbar__left,
.navbar__right,
.navbar__center {
  display: flex;
  width: 33.33%;
}

.navbar__left {
  justify-content: flex-start;
  align-items: center;
}

.navbar__center {
  justify-content: center;
  align-items: center;
}

.navbar__right {
  justify-content: flex-end;
  align-items: center;
}

.navbar__header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Satisfy", cursive;
  font-size: 2rem;
  text-align: center;
  border: 1px solid rgba(var(--primary-color-rgb), 1);
  padding: 0.2rem;
  border-radius: 1rem;
  background-color: rgba(var(--bg-color-rgb), 0.5);
  min-height: 3rem;
  min-width: 8rem;
  transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
  &:hover {
    box-shadow: -0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.75);
    transform: translate(0.15rem, -0.15rem);
  }
  .navbar__header__text {
    background-image: linear-gradient(
      45deg,
      rgba(var(--primary-color-rgb), 1),
      rgba(var(--secondary-color-rgb), 1)
    );
    background-size: 100%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    cursor: pointer;
  }
}

.navbar__links {
  display: flex;
  border-radius: 1rem;
  font-size: 1.5rem;
  transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
  gap: 0.1rem;
  width: fit-content;
  padding: 0.5rem;
  /* box-shadow: -0.15rem 0.15rem 0.2rem rgba(0, 0, 0, 0.75); */
  margin: 0 auto;
  &:hover {
    box-shadow: -0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.75);
    transform: translate(0.15rem, -0.15rem);
  }
  .navbar__link {
    position: relative;
    color: var(--text-color);
    background-color: rgba(var(--bg-color-darkened-rgb), 0.5);
    text-decoration: none;
    width: 100%;
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out,
      transform 0.2s ease-in-out, text-shadow 0.2s ease-in-out,
      font-size 0.5s ease-in-out;
    display: flex;
    min-width: 8rem;
    min-height: 3rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 2px solid rgba(var(--primary-color-rgb), 1);
    &.left-edge {
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }
    &.right-edge {
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      opacity: 0;
      transition: 0.5s;
      background: linear-gradient(
          45deg,
          rgba(var(--primary-color-rgb), 1),
          rgba(var(--secondary-color-rgb), 1)
        )
        center / 0% 100% no-repeat;
    }
    &:hover {
      background-color: rgba(var(--bg-color-rgb), 0.7);
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        opacity: 1;
        background-size: 100% 100%;
      }
    }
  }
}

.drawer {
  position: relative;
  bottom: 0rem;
  left: 50%;
  transform: translateX(-50%) translateY(1rem);
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.navbar__header.center {
  display: none;
}

@media screen and (max-width: 1450px) {
  .navbar__header {
    display: none;
    &.center {
      display: block;
    }
  }
}
