.carousel-container {
  width: fit-content;
  margin: 0 auto;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
  z-index: 2;
  box-shadow: 0 0 12px rgba(var(--secondary-color-rgb), 0.5);
  max-width: 100%;
  width: fit-content;
  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 24px;
    height: 100%;
    left: 0;
    backdrop-filter: blur(24px);
    background-image: linear-gradient(
      45deg,
      rgba(var(--primary-color-rgb), 0.5),
      rgba(var(--secondary-color-rgb), 0.5)
    );
    box-shadow: 0 0 24px rgba(var(--secondary-color-rgb), 0.5);
    z-index: 10;
  }
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 24px;
    height: 100%;
    right: 0;
    backdrop-filter: blur(24px);
    background-image: linear-gradient(
      45deg,
      rgba(var(--primary-color-rgb), 0.5),
      rgba(var(--secondary-color-rgb), 0.5)
    );
    box-shadow: 0 0 24px rgba(var(--secondary-color-rgb), 0.5);
    z-index: 10;
  }
  .carousel__item {
    width: 144px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 0 0.5rem;
    transition: transform 0.5s;
    &:hover {
      filter: drop-shadow(0 0 12px rgba(var(--primary-color-rgb), 1));
      transform: scale(1.1) translateY(-5%);
    }
  }
  .carousel__slider {
    display: flex;
    white-space: nowrap;
    width: fit-content;
    animation: slide 10s linear infinite;
    padding: 12px 0;
    &:hover {
      animation-play-state: paused;
    }
  }
}

@keyframes slide {
  to {
    transform: translateX(calc(-50%));
  }
}
