.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  bottom: 0;
  position: relative;
  background-color: var(--bg-color-darkened);
  .footer__content {
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    border-radius: 0.5rem;
  }
  @media screen and (max-width: 768px) {
    .footer__content {
      grid-template-columns: 1fr;
    }
  }
}
