.gradient-text {
  font-family: "Satisfy", cursive;
  font-size: inherit;
  background-image: linear-gradient(
    45deg,
    rgba(var(--primary-color-rgb), 1),
    rgba(var(--secondary-color-rgb), 1)
  );
  background-size: 100%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  background-clip: text;
  padding: 0 0.5rem;
}
