.art__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 1rem;
  grid-template-rows: auto;
  width: 100%;
  padding: 1rem;
  place-items: center;
  @media screen and (max-width: 725px) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  @media screen and (max-width: 500px) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.header {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
  width: 100%;
}

.border-bottom {
  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1%;
    background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0),
      var(--highlight),
      var(--highlight),
      rgba(255, 255, 255, 0)
    );
  }
}

.border-full {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1%;
    background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0),
      var(--highlight),
      var(--highlight),
      rgba(255, 255, 255, 0)
    );
  }
  &::before {
    content: "";
    position: absolute;
    top: 99%;
    left: 0;
    width: 100%;
    height: 1%;
    background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0),
      var(--highlight),
      var(--highlight),
      rgba(255, 255, 255, 0)
    );
  }
}

.impression {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.75) inset;
  background: rgba(17, 17, 17, 0.75);
}

.reveal {
  animation: reveal 1s ease-in-out;
  &.hidden {
    opacity: 0;
    transform: translateY(1rem);
    animation: none;
  }
}
