@import url("https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap");

* {
  box-sizing: border-box;
  transition: background-color 0.25s ease-in-out;
}

section {
  padding: 1rem;
  transition: padding 0.25s ease-in-out;
  @media screen and (max-width: 576px) {
    padding: 0rem;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #4182ff;
  --primary-color-rgb: 20, 20, 20;
  --bg-color: #080808;
  --bg-color-rgb: 27, 27, 27;
  --highlight: #fbfbfb;
  --orange: #ff8401;
  --light-blue: #00abff;
  --secondary-color: #eea949;
  --secondary-color-rgb: 255, 85, 58;
  --success-color: #28a745;
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --text-color: #f8f9fa;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1400px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cascadia Code", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--bg-color);
  color: var(--text-color);
  position: relative;
  min-height: 100vh;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  text-align: center;
}
