@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lugrasimo&family=Raleway:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap");

* {
  box-sizing: border-box;
  transition: background-color 0.25s ease-in-out;
}

.visible {
  display: block;
}

section {
  padding: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    opacity: 0;
    transition: 0.5s;
    background: linear-gradient(
        45deg,
        rgba(var(--primary-color-rgb), 1),
        rgba(var(--secondary-color-rgb), 1)
      )
      center / 0% 100% no-repeat;
  }
  &:hover::after {
    opacity: 1;
    background-size: 100% 100%;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #4182ff;
  --primary-color-rgb: 65, 130, 255;
  --secondary-color: #5542ff;
  --secondary-color-rgb: 85, 66, 255;
  --success-color: #28a745;
  --info-color: #17a2b8;
  --orange: #ff8401;
  --light-blue: #00abff;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --text-color: #1e2023;
  --bg-color: #f8f9fa;
  --bg-color-rgb: 248, 249, 250;
  --inverted-bg-color: #1e2023;
  --inverted-bg-color-rgb: 30, 32, 35;
  --bg-color-darkened: #e9ecef;
  --bg-color-darkened-rgb: 233, 236, 239;
  --nav-color: #f8f9fa;
  --nav-color-rgb: 248, 249, 250;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1400px;
}

body:has(.navbar > .navbar__right > #color-mode > #color-mode-input:checked) {
  --bg-color: #1b1b1b;
  --bg-color-rgb: 27, 27, 27;
  --inverted-bg-color: #f8f9fa;
  --inverted-bg-color-rgb: 248, 249, 250;
  --bg-color-darkened: #121212;
  --bg-color-darkened-rgb: 18, 18, 18;
  --primary-color: #eea949;
  --primary-color-rgb: 255, 132, 1;
  --nav-color: #121212;
  --nav-color-rgb: 18, 18, 18;
  --orange: #ff8401;
  --light-blue: #00abff;
  --secondary-color: #ff3984;
  --secondary-color-rgb: 255, 57, 132;
  --success-color: #28a745;
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --text-color: #f8f9fa;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1400px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 500;
  font-style: normal;
  background-color: var(--bg-color);
  color: var(--text-color);
  position: relative;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  text-align: center;
}

.border-before::before {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  top: -1px;
  left: 0;
  background: linear-gradient(
    45deg,
    rgba(var(--primary-color-rgb), 1),
    rgba(var(--secondary-color-rgb), 1)
  );
}

.border-after::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -1px;
  left: 0;
  background: linear-gradient(
    45deg,
    rgba(var(--primary-color-rgb), 1),
    rgba(var(--secondary-color-rgb), 1)
  );
}
